body {
  margin: 0;
  padding: 0;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

/* SHORTS STYLE BOX */
#wrap {
  width: 360px;
  height: 640px;
  max-width: 90vw;
  max-height: 90vh;
  position: relative;
  background: black;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(255,255,255,0.2);
}

/* CANVAS */
#canvas {
  width: 100%;
  height: 100%;
  display: block;
}

/* TEXT */
#text {
  position: absolute;
  top: 15%;
  width: 100%;
  text-align: center;
}

#code {
  display: none;
  font-size: 18px;
  line-height: 1.6;
  font-weight: bold;
  color: rgb(196, 255, 255);
}

/* CLOCK */
#clock-box {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  font-size: 16px;
}
